@{
    ViewData["Title"] = "Home";
}

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Contos Masks
        <small>Made locally!</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="~/images/homescreen.jpg" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Homemade Masks!</h3>
            <p>Who wants masks that look like a hospital?  Why not have FUN!</p>
            <h3 class="my-3">Mask Details</h3>
            <ul>
                <li>Copper Wire Nose</li>
                <li>Elastic Earband</li>
                <li>Inner Pouch to layer Tissues!</li>
                <li>6 different Styles!</li>
                <li><strong>Only 10 CREDITS each</strong> (plus S&amp;H)</li>
            </ul>
        </div>

    </div>
    <h3 class="my-4">Mask Styles</h3>
    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="~/images/stone-mask-large.jpg" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="~/images/stone-mask-large.jpg" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="~/images/stone-mask-large.jpg" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="~/images/stone-mask-large.jpg" alt="">
            </a>
        </div>

    </div>


</div>
